<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Including the Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../../../../web/css/loginform_test.css">

</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">

    <img src="../../../../web/img/placeholderLogo.svg">
    <br>

    <!-- Headline of the Login Form  -->
    <h2 class="active"> Welcome to Fiary! </h2>
    <form>

        <!-- Fiary Logo fehlt hier noch! -->

        <!-- Username Field -->
        <input type="text" class="text" name="username">
        <span>username</span>

        <!-- Formatting -->
        <br>
        <br>

        <!-- Password Field -->
        <input type="password" class="text" name="password">
        <span>password</span>
        <br>

        <!-- Signed In Possibility? -->
        <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
        <label for="checkbox-1-1">Keep me signed in</label>

        <button class="signin">
            Sign In
        </button>

        <hr>

    </form>

</div>
</body>
</html>